/*=Header
---------------------------------------------------------------------*/

.site-header {
    position: relative;
}

$sticky-shrinknav-menu-height: rem-calc(60);
$sticky-shrinknav-hero-height: 300px;
body {
    padding-top: $sticky-shrinknav-hero-height + 30px;
}

.sticky-shrinknav-menu {
    @include horizontal-center;
    bottom: 0;
    height: $sticky-shrinknav-menu-height;
    line-height: $sticky-shrinknav-menu-height;
    width: 100%;
    background-color: rgba($primary-color, 0.2);
    transition: all 0.5s ease;
    li {
        border-radius: 2px;
        transition: all 0.3s ease;
        align-self: center;
        &:hover {
            box-shadow: 0 0 0 1px $white;
        }
    }
    a {
        color: $white;
    }
}

.sticky-shrinknav-header-title {
    transition: all 0.3s ease;
    position: relative;
    transform: translateY(-$sticky-shrinknav-menu-height/2);
    margin-bottom: 0;
    color: $white;
}

.sticky-shrinknav-header {
    width: 100%;
    height: $sticky-shrinknav-hero-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($primary-color, 10%);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    flex-direction: column;
    i {
        color: lighten($primary-color, 40%);
        padding: 20px;
    }
}

body.sticky-shrinknav-wrapper {
    padding-top: 130px;
    .sticky-shrinknav-header {
        height: $sticky-shrinknav-menu-height;
        background-color: rgba($primary-color, 0.9);
        .sticky-shrinknav-header-title {
            transform: scale(0);
            transition: all 0.3s ease;
        }
    }
}

// Mobile Menu
$overlay-nav-menu-toggle-size: 3rem;
$overlay-nav-menu-toggle-color: $black;
$overlay-nav-menu-link-height: 4.25rem;
$overlay-nav-menu-link-color: $white;
$overlay-nav-menu-link-border: 1px solid rgba($overlay-nav-menu-link-color, 0.5);
$overlay-nav-menu-bg: $primary-color;
.mobile-header {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    .mobile-header-logo {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-self: center;
        padding-right: 20px;
        color: white;
        i {
            color: lighten($primary-color, 40%);
            padding: 10px;
        }
    }
}

.overlay-nav-menu-toggle {
    position: relative;
    font-size: $overlay-nav-menu-toggle-size;
    z-index: 5000;
    color: $overlay-nav-menu-toggle-color;
    transition: all 0.4s ease-in-out;
    padding: 5px 20px;
    &:hover {
        transition: all 0.4s ease-in-out;
        color: lighten($overlay-nav-menu-toggle-color, 30%);
    }
    i {
        font-size: smaller;
        color: white;
    }
}

.overlay-nav-menu {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    list-style: none;
    background: $overlay-nav-menu-bg;
    background-size: cover;
    text-align: center;
    transform: translateX(-100%) rotateX(40deg);
    transition: all 400ms cubic-bezier(1.000, -0.400, 0.440, 0.985);
    li {
        font-size: 1.5rem;
    }
    a {
        display: block;
        color: $overlay-nav-menu-link-color;
        font-weight: bold;
        height: $overlay-nav-menu-link-height;
        line-height: $overlay-nav-menu-link-height;
        border-bottom: $overlay-nav-menu-link-border;
        text-decoration: none;
        &:hover {
            background-color: rgba($white, 0.6);
            color: $black;
        }
    }
    &.is-open {
        top: 0;
        opacity: 1;
        transform: perspective(200px) translateX(0) rotateX(0);
    }
    &.is-open~.overlay-nav-menu-toggle {
        display: inline-block;
        transition: all 0.4s ease-in-out;
        transform: rotate(135deg);
        color: lighten($overlay-nav-menu-toggle-color, 100%);
    }
}

@media only screen and (max-width: 640px) {
    body {
        padding-top: 0px;
    }
}